
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">

    <title>Home - Serverlized</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/starter-template/">
    <link href="https://fonts.googleapis.com/css?family=Hind+Madurai&display=swap" rel="stylesheet">
    <!-- Bootstrap core CSS -->
    <link href="https://getbootstrap.com/docs/4.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://www.jqueryscript.net/demo/Highly-Customizable-jQuery-Toast-Message-Plugin-Toastr/build/toastr.css" rel="stylesheet">
    <link href="/static/css/tostr.css" rel="stylesheet">
    <link href="/static/css/style.css" rel="stylesheet">
    <link href="/static/css/alertify.css" rel="stylesheet">
    <link href="https://raw.githubusercontent.com/daneden/animate.css/master/animate.css" rel="stylesheet">
    
    <!-- Custom styles for this template -->
 
    
  </head>

  <body>

    {% include "user/navbar.html" %}

    <main role="main" class="container">
        
            <br><br> <br><br>  
            
        {% if server_count == 0 %}

        <br>
               <div class=" text-center fade-in-up " >
                    <img width="33%" src="http://gitlab-org.gitlab.io/gitlab-svgs/dist/illustrations/pipelines_empty.svg">

                    <div class="card-body" style="font-size: 10px;">
                      
                      <h5 class="card-title">Not Managing any Server</h5>
                      <p class="card-text">Manage you first Server by clicking button below.</p>
                      <a href="/wpanel/deploy" class="btn btn-primary btn-sm">Start Managing Server</a>
                    </div>
                  </div> 
        {% endif %}   
               
         {% if server_count > 0 %}
          <div class=" fade-in-up ">
                <div class="card ">
                        <div class="card-header">
                                <div class="row">
                            <div class="col-md-9 col-xs-4 col-sm-6">
                            <b><p style="margin-bottom: 6px;"></p>Managed Server</b></div>
                            <div class="col-md-3 col-xs-8  col-sm-6 text-right ">
                               <a type="button" href="/wpanel/deploy" class="align-middle   btn-primary btn-sm">
                                        <span class="btn-label"><i class="fa fa-server"></i></span>Manage Server</a>
                                    </div>
                        </div></div>
                        <div class="">
                            
                                <table class="table table-bordered" style="margin-bottom: 0px;">
                   
                                        <tbody>
                                            {% for servers in servers %}
                                          <tr >
                                            <td style="width:40%;" class="align-middle">
                                                    <div class=" row">
                                                             
                                                            <div class="col-md-8">
                                                              <h5 class="card-title" style="font-size: 18px;margin-bottom: 5px;">{{servers.server_name}}</h5>
                                                             <p class="card-text text-info" style="font-size: 14px;">{{servers.stack_name}}
                                                                   <br> <small class="text-success">{{servers.server_ip}}</small>
                                                                   
                                                              </p>
                                                              
                                                           </div>
                                                           <div class="col-md-4"><br>
                                                                <span class="inlinesparkline"></span>
                                                                
                                                             </div>
                                                           
                                                          </div>
                                            </td>
                                            <td class="align-middle"><strong>	&#8377; {{servers.Charges | floatformat:2}}</strong></td>
                                            <td class="align-middle"><strong>{{servers.date}}</strong></td>
                                            <td class="align-middle"><span class="badge badge-primary">{{servers.server_status}}</span></td>
                                            <td class="align-middle">
                                                <button {% if servers.server_status != "Active" %} href="#" onclick="noactive('{{servers.server_status}}')" {% else %} onclick="restart('{{servers.id}}')"  {% endif %} type="button"  class="btn btn-info btn-sm"><i class="fa fa-refresh "></i></button>
                                                
                                                <a {% if servers.server_status != "Active" %} href="#" onclick="noactive('{{servers.server_status}}')" {% else %} href="/wpanel/{{servers.id}}" {% endif %} type="button"  class="btn btn-primary btn-sm"><i class="fa fa-dashboard "></i></a>
                                                
                                                <a {% if servers.server_status == "Installing" %} href="#" onclick="noactive('{{servers.server_status}}')" {% else %} href="#" onclick="deleteserver({{servers.id}})" {% endif %}   type="button" class="btn btn-danger btn-sm"><i class="fa fa-trash "></i></a>
                                            
                                              </td>
                                          </tr>
                                          
                    {% endfor %}
                                        
                                              
                                        </tbody>
                                      </table>


                        </div>
                      </div>
                
                </div>
                
            
                </div>
                {% endif %}
    </main><!-- /.container -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-1.12.2.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="https://getbootstrap.com/docs/4.0/assets/js/vendor/popper.min.js"></script>
    <script src="/static/alertify.min.js"></script>
    <script src="https://getbootstrap.com/docs/4.0/dist/js/bootstrap.min.js"></script>
    <script src="https://omnipotent.net/jquery.sparkline/2.1.2/jquery.sparkline.js"></script>
    <script src="https://www.jqueryscript.net/demo/Highly-Customizable-jQuery-Toast-Message-Plugin-Toastr/toastr.js"></script>
    <script>
      
      function deleteserver(e){
        alertify.confirm("Are you sure you want to delete the Managring Server(#"+e+")",
  function(){
    
    $.ajax({url: "/wpanel/server/del/" + e, success: function(result){
       if (result.status == "ok"){
        toastr.success('Server succsfully deleted!', 'Server Deleted',{
          "closeButton": true,
          "debug": false,
          "newestOnTop": false,
          "progressBar": true,
          "positionClass": "toast-bottom-right",
          "preventDuplicates": true,
          "onclick": null,
          "showDuration": "300",
          "hideDuration": "1000",
          "timeOut": "5000",
          "extendedTimeOut": "1000",
          "showEasing": "swing",
          "hideEasing": "linear",
          "showMethod": "fadeIn",
          "hideMethod": "fadeOut"
        });
       }else{
        toastr.warning('We could not able to delete the server! please conact the support.  ', 'Error in Deletion',{
          "closeButton": true,
          "debug": false,
          "newestOnTop": false,
          "progressBar": true,
          "positionClass": "toast-bottom-right",
          "preventDuplicates": true,
          "onclick": null,
          "showDuration": "300",
          "hideDuration": "1000",
          "timeOut": "5000",
          "extendedTimeOut": "1000",
          "showEasing": "swing",
          "hideEasing": "linear",
          "showMethod": "fadeIn",
          "hideMethod": "fadeOut"
        });
       }
    }});
    
  },
  function(){
    
  }).setHeader('Are you Sure? ').set('labels', {ok:'Delete Server', cancel:'Cancel'}); 
      }

function noactive(a){
  toastr.warning('This server cannot be managed, re-start or delete since its in <b>'+ a +'</b> state ', 'Cannot perform action',{
    "closeButton": true,
    "debug": false,
    "newestOnTop": false,
    "progressBar": true,
    "positionClass": "toast-bottom-right",
    "preventDuplicates": true,
    "onclick": null,
    "showDuration": "300",
    "hideDuration": "1000",
    "timeOut": "5000",
    "extendedTimeOut": "1000",
    "showEasing": "swing",
    "hideEasing": "linear",
    "showMethod": "fadeIn",
    "hideMethod": "fadeOut"
  });

}
     

    </script>

    <script>


        var socket = new WebSocket('ws://' + window.location.host + '/real-time-notification/{{user.id}}/');
    
        socket.onopen = e => {
          console.log('Open ', e);
         }
  
         socket.onmessage = e => {
          var js = e['data'];
          var json = JSON.parse(js);
          console.log(json)
          
          if (json['msg_type'] == "toast"){
            if (json['css_a'] =="success"){
              toastr.success(json['content'], json['title'],{
                "closeButton": true,
                "debug": false,
                "newestOnTop": false,
                "progressBar": true,
                "positionClass": "toast-top-right",
                "preventDuplicates": true,
                "onclick": null,
                "showDuration": "300",
                "hideDuration": "1000",
                "timeOut": "5000",
                "extendedTimeOut": "1000",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut"
              });
            }
            if (json['css_a'] =="error"){
              toastr.error(json['content'], json['title'],{
                "closeButton": true,
                "debug": false,
                "newestOnTop": false,
                "progressBar": true,
                "positionClass": "toast-top-right",
                "preventDuplicates": true,
                "onclick": null,
                "showDuration": "300",
                "hideDuration": "1000",
                "timeOut": "5000",
                "extendedTimeOut": "1000",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut"
              });
            }
          }
      }
  
      socket.onerror = e => {
          console.log('Error ', e);
      }
  
      socket.onoclose = e => {
          console.log('Close ', e);
      }
      </script>
  </body>
</html>
