
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">

    <title>Home - Serverlized</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/starter-template/">
    <link href="https://fonts.googleapis.com/css?family=Hind+Madurai&display=swap" rel="stylesheet">
    <!-- Bootstrap core CSS -->
    <link href="https://getbootstrap.com/docs/4.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://www.jqueryscript.net/demo/Highly-Customizable-jQuery-Toast-Message-Plugin-Toastr/build/toastr.css" rel="stylesheet">
    <link href="/static/css/style.css" rel="stylesheet">
    <!-- Custom styles for this template -->
 
  </head>

  <body>

    {% include "user/navbar.html" %}
    {% include "user/menu.html" %}

    
    <div class="container" style="margin-top: 25px;">
        <div class="row">
             
          <div class="col-sm-8">
                {% if messages %}


                {% for message in messages %}
        
                
                
                <div class="alert alert-{{message.tags}} alert-dismissible text-dark" role="alert">
                    <button class="close" type="button" data-dismiss="alert" aria-label="Close"><span class="mdi mdi-close" aria-hidden="true"></span></button>
                    <div class="icon"><span class="mdi mdi-alert-triangle"></span></div>
                    <div class="message">{{message}}</div>
                  </div>
                 
        
            
                {% endfor %}
             {% endif %}

             {% if already == True %}
             <div class="alert alert-primary alert-dismissable fade show has-icon"><i class="fa fa-info-circle alert-icon"></i>
              
              <div class="d-flex align-items-center justify-content-between">
                  <div><strong>Already Configured!</strong><br>You already confgured the core confg of HAProxy you can only do minor changes or Add Node server!</div>
                  <div>
                      <a href="/wpanel/{{server.id}}/haproxy/web/nodes_server" class="btn btn-sm btn-warning " >Add Node Server</a>
                  </div>
              </div>
          </div>
          {% endif %}
            <div class="accordion" id="accordionExample">
                <div class="card">
                  <div class="card-header" id="headingOne">
                    <h2 class="">
                      <h4   aria-expanded="true" aria-controls="collapseOne">
                        Add Node Server <button type="button" onclick="addnode();" class="btn btn-primary btn-sm pull-right">+</button>
                       </h4>
                    </h2>
                  </div>
              
                  <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                    <div class="card-body">

                        {% if already == True %}

                
                        {% else %}

                        <form method="POST" action="/wpanel/{{server.id}}/haproxy/web/nodes_server">
                          {%csrf_token%}
                          

                            <div class="form-group">
                              <label for="exampleInputEmail1" class="lead">Node Servers </label>
                              <p>All node server OS Dist. should be same as Master</p>
                             

                              <div id="add-node">


                              </div>

                            </div>
                            <div class="form-group">
                                    <label class="checkbox">
                                        <input name="rep_domain" value="yes" disabled checked="" type="checkbox">
                                        <span class="input-span"></span>Replicate existing domains</label>
                                </div>

                                <div class="form-group">
                                        <label class="radio">
                                            <input  name="rep_backup" value="exist_file" checked type="radio">
                                            <span class="input-span"></span>Replicate all previously uploaded files in same manor</label>
                                    </div>

                                        <div class="form-group">
                                            <label class="radio  disabled">
                                                <input disabled  name="rep_backup" value="yes"  type="radio">
                                                <span class="input-span"></span>  Replicate files from one existing node server to new Node Server(s) <span class="text-success ">recommanded</span> <span class="text-warning ">(Backup Extention required)</span></label>
                                        </div>
                            
                            <div class="form-group">
                              <label for="exampleInputEmail1">Web Server Packages</label>
                              <select readonly name="software" class="form-control">
                                 
                                  <option value="web">Apache 2.2, vsftp,  PHP 7.3 & utils</option>
                                 
                              </select>
                              <small class="form-text text-muted">After installation you can Addon domains & upload Files to all node server with Replicator in single click.</small>
                          
                           </div>
                        

                          

                          <button type="submit" class="btn btn-primary">Add Node Server & Config with HAProxy</button>
                         
                         
                      </form>

                        {% endif %}
                        
                        
                    </div>
                  </div>
                </div>
                
              </div>
              <br>
              <div class="card">
                    <div class="card-header">
                      <b>Node Servers </b>
                    </div>
                    <table style="margin-bottom: 0rem;" class="table table-striped">
                        <thead>
                          
                        </thead>
                        <tbody>
                          {% for servers in nodes %}
                          <tr >
                                <td style="width:50%;" class="align-middle">
                                      <div class=" row">
                                               
                                              <div class="col-md-12">
                                                <h5 class="card-title" style="font-size: 18px;margin-bottom: 5px;">{{servers.server_name}}</h5>
                                               <p class="card-text text-info" style="font-size: 14px;">{{servers.stack_name}}
                                                     <br> <small class="text-success">{{servers.server_ip}}</small>
                                                     
                                                </p>
                                                
                                             </div>
                                         
                              </td>
                              
                              
                              <td class="align-middle"><span class="badge badge-primary">{{servers.server_status}}</span></td>
                              <td class="align-middle ">
                                  <button  {% if servers.server_status != "Active" %} href="#" onclick="noactive('{{servers.server_status}}')" {% else %} onclick="restart('{{servers.id}}')"  {% endif %} type="button" class="btn btn-info btn-sm"><i class="fa fa-refresh "></i></button>
                                  
                                  <a {% if servers.server_status != "Active" %} href="#" onclick="noactive('{{servers.server_status}}')" {% else %} href="/wpanel/{{servers.id}}" {% endif %} type="button"  class="btn btn-primary btn-sm"><i class="fa fa-dashboard "></i></a>
                                  
                                  <a {% if servers.server_status != "Active" %} href="#" onclick="noactive('{{servers.server_status}}')" {% else %} href="/wpanel/delete/{{servers.id}}" {% endif %}  type="button" class="btn btn-danger btn-sm"><i class="fa fa-trash "></i></a>
                              
                                </td>
                              </tr>
                          {% endfor %}
                         
                        </tbody>
                      </table>
                  </div>
          </div>
          
          <div class="col-sm-4">
            {% if already == True %}
              <a href="/wpanel/{{server.id}}/haproxy/web/nodes_server" class="btn btn-secondary  btn-block mb-4"> Node Servers</a>
              {% if config_ha.monitor == True %}
              <div class="ibox ">
                  <div class="ibox-head">
                      <div class="ibox-title">MONITOR LOGIN CREDENTIALS</div>
                  </div>
                  <div >
                      <ul class="list-group list-group-divider list-group-full">
                          <li class="list-group-item flexbox">
                              <span class="flexbox"><i class="fa fa-globe mr-3 p-3 font-30"></i><a href="http://{{server.server_ip}}:1936/loadbalance?stats">{{server.server_ip}}:1936/loadbalance?stats</a></span>
                          </li>
                          <li class="list-group-item flexbox">
                              <span class="flexbox"><i class="fa fa-user mr-3  p-3 font-30"></i>{% if config_ha.monitor_user == None or config_ha.monitor_user == '' %} <i class="fa fa-spinner fa-spin mr-2"> </i> Waiting for Configuration {% else %} {{config_ha.monitor_user}} {% endif %}</span>
                          </li>

                          <li class="list-group-item flexbox">
                              <span class="flexbox"><i class="fa fa-lock mr-3  p-3 font-30"></i>{% if config_ha.monitor_pass == None  or config_ha.monitor_pass == ''%} <i class="fa fa-spinner fa-spin mr-2"> </i> Waiting for Configuration {% else %} {{config_ha.monitor_pass}} {% endif %}</span>
                          </li>
                         
                      </ul>
                  </div>
              </div>
              {% endif %}
              {% endif %}
            <div class="card">
                <div class="card-header">
                  <b>Manage Node Server</b>
                </div>
                <div class="card-body">
                  <p>Now its easier to manage or Add New Node Server with simple and powerful interface.</p>
                </p>
                  
                   
                
                </div>
              </div>
          </div>
          
        </div>
      </div>


    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-1.12.2.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="https://getbootstrap.com/docs/4.0/assets/js/vendor/popper.min.js"></script>
    <script src="https://getbootstrap.com/docs/4.0/dist/js/bootstrap.min.js"></script>
    <script src="https://omnipotent.net/jquery.sparkline/2.1.2/jquery.sparkline.js"></script>
    <script src="https://www.jqueryscript.net/demo/Highly-Customizable-jQuery-Toast-Message-Plugin-Toastr/toastr.js"></script>
    <script src="https://www.jqueryscript.net/demo/Lightweight-Modal-Dialog-Plugin-For-Bootstrap-Bootstrap-Confirm/bootstrap-confirm.js"></script>
    <script>


      function delete_ssl(e){
        $.confirm({
          message: 'Are you sure? this action is unchangeable.',
          onOk: function() {
            
            
  $.ajax({url: "/wpanel/{{server.id}}/letsencrypt/" + e + "/delete", success: function(result){
    if(result.status == "ok"){
      toastr.success("SSL certificate will be deleted soon.", "Request Sent",{
        "closeButton": true,
        "debug": false,
        "newestOnTop": false,
        "progressBar": true,
        "positionClass": "toast-bottom-right",
        "preventDuplicates": true,
        "onclick": null,
        "showDuration": "300",
        "hideDuration": "1000",
        "timeOut": "5000",
        "extendedTimeOut": "1000",
        "showEasing": "swing",
        "hideEasing": "linear",
        "showMethod": "fadeIn",
        "hideMethod": "fadeOut"
      });
    }else{
      toastr.error("Unable to request restart", "Error Occured",{
        "closeButton": true,
        "debug": false,
        "newestOnTop": false,
        "progressBar": true,
        "positionClass": "toast-bottom-right",
        "preventDuplicates": true,
        "onclick": null,
        "showDuration": "300",
        "hideDuration": "1000",
        "timeOut": "5000",
        "extendedTimeOut": "1000",
        "showEasing": "swing",
        "hideEasing": "linear",
        "showMethod": "fadeIn",
        "hideMethod": "fadeOut"
      });
    }
  }});
            
          }
        });
      }


      $('.inlinesparkline').sparkline(); 
function noactive(a){
  toastr.warning('This server cannot be managed, re-start or delete since its in <b>'+ a +'</b> state ', 'Cannot perform action',{
    "closeButton": true,
    "debug": false,
    "newestOnTop": false,
    "progressBar": true,
    "positionClass": "toast-bottom-right",
    "preventDuplicates": true,
    "onclick": null,
    "showDuration": "300",
    "hideDuration": "1000",
    "timeOut": "5000",
    "extendedTimeOut": "1000",
    "showEasing": "swing",
    "hideEasing": "linear",
    "showMethod": "fadeIn",
    "hideMethod": "fadeOut"
  });

}
     

    </script>

    <script>
        var socket = new WebSocket('ws://' + window.location.host + '/real-time-notification/{{user.id}}/');
    
        socket.onopen = e => {
          console.log('Open ', e);
         }
  
         socket.onmessage = e => {
          var js = e['data'];
          var json = JSON.parse(js);
          console.log(json)
          
          if (json['msg_type'] == "toast"){
            if (json['css_a'] =="success"){
              toastr.success(json['content'], json['title'],{
                "closeButton": true,
                "debug": false,
                "newestOnTop": false,
                "progressBar": true,
                "positionClass": "toast-bottom-right",
                "preventDuplicates": true,
                "onclick": null,
                "showDuration": "300",
                "hideDuration": "1000",
                "timeOut": "5000",
                "extendedTimeOut": "1000",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut"
              });
            }
            if (json['css_a'] =="error"){
              toastr.error(json['content'], json['title'],{
                "closeButton": true,
                "debug": false,
                "newestOnTop": false,
                "progressBar": true,
                "positionClass": "toast-bottom-right",
                "preventDuplicates": true,
                "onclick": null,
                "showDuration": "300",
                "hideDuration": "1000",
                "timeOut": "5000",
                "extendedTimeOut": "1000",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut"
              });
            }
          }
      }
  
      socket.onerror = e => {
          console.log('Error ', e);
      }
  
      socket.onoclose = e => {
          console.log('Close ', e);
      }

      
var maxHeight = 400;

$(function(){

    $(".dropdown > li").hover(function() {
    
         var $container = $(this),
             $list = $container.find("ul"),
             $anchor = $container.find("a"),
             height = $list.height() * 1.1,       // make sure there is enough room at the bottom
             multiplier = height / maxHeight;     // needs to move faster if list is taller
        
        // need to save height here so it can revert on mouseout            
        $container.data("origHeight", $container.height());
        
        // so it can retain it's rollover color all the while the dropdown is open
        $anchor.addClass("hover");
        
        // make sure dropdown appears directly below parent list item    
        $list
            .show()
            .css({
                paddingTop: $container.data("origHeight")
            });
        
        // don't do any animation if list shorter than max
        if (multiplier > 1) {
            $container
                .css({
                    height: maxHeight,
                    overflow: "hidden"
                })
                .mousemove(function(e) {
                    var offset = $container.offset();
                    var relativeY = ((e.pageY - offset.top) * multiplier) - ($container.data("origHeight") * multiplier);
                    if (relativeY > $container.data("origHeight")) {
                        $list.css("top", -relativeY + $container.data("origHeight"));
                    };
                });
        }
        
    }, function() {
    
        var $el = $(this);
        
        // put things back to normal
        $el
            .height($(this).data("origHeight"))
            .find("ul")
            .css({ top: 0 })
            .hide()
            .end()
            .find("a")
            .removeClass("hover");
    
    });  
    
});



var  i = 0; 

function addnode(){

  var wrap = '<div class="fade-in-up row " style="margin-top:10px;"> <div class="col-md-4"> <input type="text" name="server[' + i + ']" placeholder="Server Hostname #' + (i + 1) + '" class="form-control"> </div><div class="col-md-4"> <input type="text" name="server[' + i + ']" placeholder="Server IP #' +  (i + 1)  + '" class="form-control"> </div><div class="col-md-4"> <input type="text" name="server[' + i + ']" placeholder="Root Password #' +  (i + 1)  + '" class="form-control"> </div></div>';

  $('#add-node').append(wrap);
  
  i++;

}



      </script>
  </body>
</html>
