{% if user.email_verify == False %}
      <div >
            
            <div class="alert alert-warning1 text-dark " role="alert">
                Your email is not verfied please you email address to unlock all server managment options <button onclick="email_verify()" class="btn btn-sm"> resend verification email </button>.
               
                  </div>
                </div>
       {% endif %}
<nav class="navbar navbar-expand-md navbar-dark bg-ser ">
        <a class="navbar-brand" href="#">Serverlized</a>
        <div class=" pull-right dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Utility Tools
            <span class="caret"></span></button>
               <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Domains / DNS </a>
                <a class="dropdown-item" href="#">Email Accounts</a>
               </div>
          </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
  
        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
              <ul class="navbar-nav mr-auto">
                   </ul>
                     <ul class="navbar-nav">
                     
                      <li class="nav-item dropdown">
                              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                               
                                {{user.first_name}} {{user.last_name}}
                              </a>
                              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#">My Account</a>
                                <a class="dropdown-item" href="#">Billing</a>
                               </div>
                            </li>
                               
                    </ul>
       
        </div>
       
      </nav>
      