
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">

    <title>Home - Serverlized</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/starter-template/">
    <link href="https://fonts.googleapis.com/css?family=Hind+Madurai&display=swap" rel="stylesheet">
    <!-- Bootstrap core CSS -->
    <link href="https://getbootstrap.com/docs/4.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://www.jqueryscript.net/demo/Highly-Customizable-jQuery-Toast-Message-Plugin-Toastr/build/toastr.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <style>
        body{
            font-family: 'Hind Madurai', sans-serif;
        }
        .starter-template {
            padding: 3rem 1.5rem;
            text-align: center;
          }
          .btn-label {position: relative;left: -12px;display: inline-block;padding: 6px 12px;background: rgba(0,0,0,0.15);}
         .btn-labeled {padding-top: 0;padding-bottom: 0;}
         .bg-ser{
             background-color: #428bca;
         }
    </style>
  </head>

  <body>

    {% include "user/navbar.html" %}
    {% include "user/menu.html" %}

    <div class="container" style="margin-top: 25px;">
        <div class="row">
             
          <div class="col-sm-6">
                
            <div class="card ">
                <div class="card-header bg-secondary text-white">
                  <b>AVAILABLE PACKAGES </b>
                </div>
                <table  style="margin-bottom: 0rem;" class="table">
                    
                    <tbody>
                        {% for key, avail in avail.items %}
                      <tr>
                        <th scope="row">{{avail.NAME}}</th>
                        <th scope="row"><small>{{avail.DESCRIPTION | truncatechars:100}}</small></th>
                       <td><a class="btn btn-success btn-sm" href="/wpanel/{{server.id}}/package/{{key}}" type="button">View Details</a></td>
                      </tr>
                      {% endfor %}
                     
                      
                     
                    </tbody>
                  </table>
              </div>

        
       
          </div>
          
          <div class="col-sm-6">
            <div class="card " style="margin-bottom: 0px;">
                <div class="card-header bg-secondary text-white">
                  <b>SERVICES STATUS</b>
                </div>
                <table  style="margin-bottom: 0rem;" class="table">
                    
                    <tbody>
                        <tbody>
                          {% for inst_pkg in inst_pkg %}
                            <tr>
                            <td>{{inst_pkg.PackageName}}</td>
                            {% if inst_pkg.PackageStatus == "RUNNING" %}
                            <td class=" text-success"><i class="fa fa-check"></i> </td>
                            <td><button  onclick="stop({{inst_pkg.id}})" class="btn btn-danger btn-sm">STOP </button> <button  onclick="restart({{inst_pkg.id}})" class="btn btn-warning btn-sm"><i class="fa fa-refresh"></i> </button></td>
                           
                            {% endif %}

                            {% if inst_pkg.PackageStatus == "STOP" %}
                            <td class=" text-danger"><i class="fa fa-stop" style="font-size:24px"></i> </td>
                            <td> <button onclick="restart({{inst_pkg.id}})" class="btn btn-warning btn-sm"><i class="fa fa-refresh"></i> </button></td>
                           
                            {% endif %}
                            </tr>
                          {% endfor %}
                           
                            
                           
                          </tbody>
                    </tbody>
                  </table>
              </div>
          </div>
          
        </div>
      </div>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-1.12.2.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="https://getbootstrap.com/docs/4.0/assets/js/vendor/popper.min.js"></script>
    <script src="https://getbootstrap.com/docs/4.0/dist/js/bootstrap.min.js"></script>
    <script src="https://omnipotent.net/jquery.sparkline/2.1.2/jquery.sparkline.js"></script>
    <script src="https://www.jqueryscript.net/demo/Highly-Customizable-jQuery-Toast-Message-Plugin-Toastr/toastr.js"></script>
    <script>
      
      $('.inlinesparkline').sparkline(); 
function noactive(a){
  toastr.warning('This server cannot be managed, re-start or delete since its in <b>'+ a +'</b> state ', 'Cannot perform action',{
    "closeButton": true,
    "debug": false,
    "newestOnTop": false,
    "progressBar": true,
    "positionClass": "toast-bottom-right",
    "preventDuplicates": true,
    "onclick": null,
    "showDuration": "300",
    "hideDuration": "1000",
    "timeOut": "5000",
    "extendedTimeOut": "1000",
    "showEasing": "swing",
    "hideEasing": "linear",
    "showMethod": "fadeIn",
    "hideMethod": "fadeOut"
  });

}
     

    </script>

    <script>

        function stop(id){

          $.ajax({url: "/wpanel/{{server.id}}/package/" + id + "/stop", success: function(result){
            if(result.status == "ok"){
              toastr.success("Package will be STOPPED soon.", "Request Sent",{
                "closeButton": true,
                "debug": false,
                "newestOnTop": false,
                "progressBar": true,
                "positionClass": "toast-bottom-right",
                "preventDuplicates": true,
                "onclick": null,
                "showDuration": "300",
                "hideDuration": "1000",
                "timeOut": "5000",
                "extendedTimeOut": "1000",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut"
              });
            }else{
              toastr.error("Unable to request restart", "Error Occured",{
                "closeButton": true,
                "debug": false,
                "newestOnTop": false,
                "progressBar": true,
                "positionClass": "toast-bottom-right",
                "preventDuplicates": true,
                "onclick": null,
                "showDuration": "300",
                "hideDuration": "1000",
                "timeOut": "5000",
                "extendedTimeOut": "1000",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut"
              });
            }
          }});
        
        }


function restart(id){

  $.ajax({url: "/wpanel/{{server.id}}/package/" + id + "/restart", success: function(result){
    if(result.status == "ok"){
      toastr.success("Package will be RESTARTED soon.", "Request Sent",{
        "closeButton": true,
        "debug": false,
        "newestOnTop": false,
        "progressBar": true,
        "positionClass": "toast-bottom-right",
        "preventDuplicates": true,
        "onclick": null,
        "showDuration": "300",
        "hideDuration": "1000",
        "timeOut": "5000",
        "extendedTimeOut": "1000",
        "showEasing": "swing",
        "hideEasing": "linear",
        "showMethod": "fadeIn",
        "hideMethod": "fadeOut"
      });
    }else{
      toastr.error("Unable to request restart", "Error Occured",{
        "closeButton": true,
        "debug": false,
        "newestOnTop": false,
        "progressBar": true,
        "positionClass": "toast-bottom-right",
        "preventDuplicates": true,
        "onclick": null,
        "showDuration": "300",
        "hideDuration": "1000",
        "timeOut": "5000",
        "extendedTimeOut": "1000",
        "showEasing": "swing",
        "hideEasing": "linear",
        "showMethod": "fadeIn",
        "hideMethod": "fadeOut"
      });
    }
  }});

}

        var socket = new WebSocket('ws://' + window.location.host + '/real-time-notification/{{user.id}}/');
    
        socket.onopen = e => {
          console.log('Open ', e);
         }
  
         socket.onmessage = e => {
          var js = e['data'];
          var json = JSON.parse(js);
          console.log(json)
          
          if (json['msg_type'] == "toast"){
            if (json['css_a'] =="success"){
              toastr.success(json['content'], json['title'],{
                "closeButton": true,
                "debug": false,
                "newestOnTop": false,
                "progressBar": true,
                "positionClass": "toast-bottom-right",
                "preventDuplicates": true,
                "onclick": null,
                "showDuration": "300",
                "hideDuration": "1000",
                "timeOut": "5000",
                "extendedTimeOut": "1000",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut"
              });
            }
            if (json['css_a'] =="error"){
              toastr.error(json['content'], json['title'],{
                "closeButton": true,
                "debug": false,
                "newestOnTop": false,
                "progressBar": true,
                "positionClass": "toast-bottom-right",
                "preventDuplicates": true,
                "onclick": null,
                "showDuration": "300",
                "hideDuration": "1000",
                "timeOut": "5000",
                "extendedTimeOut": "1000",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut"
              });
            }
          }
      }
  
      socket.onerror = e => {
          console.log('Error ', e);
      }
  
      socket.onoclose = e => {
          console.log('Close ', e);
      }
      </script>
  </body>
</html>
