
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">

    <title>Home - Serverlized</title>

    <!-- Bootstrap core CSS -->
    <link href="https://getbootstrap.com/docs/4.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://www.jqueryscript.net/demo/Highly-Customizable-jQuery-Toast-Message-Plugin-Toastr/build/toastr.css" rel="stylesheet">
    <link href="/static/css/style.css" rel="stylesheet">

   
  </head>

  <body>

    {% include "user/navbar.html" %}
    {% include "user/menu.html" %}

    <div class="page-content fade-in-up container">
      <div class="row">
          <div class="col-lg-8">
              <div class="ibox">
                  <div class="ibox-body bg-success">
                      <div class="d-flex justify-content-between mb-4">
                          <div class="text-white">
                              <h3 class="m-0">Real Time CPU Metrics</h3>
                              <div>Real time</div>
                          </div>
                      
                      </div>
                      <div><div id="flot_live_chart" style="height:280px;"></div> </div>
                  </div>
                  <div class="ibox-body">
                     
                      <div class="row">
                      
                          <div class="col-6 text-center" style="border-right: 1px solid rgba(0,0,0,.1);">
                              <div class="text-muted">Used Storage</div>
                              <h2 class="text-success mt-1 "><span id="storage"> <i class="mt-3 fa fa-spinner fa-spin"></i> </span>
                          </div>
                          <div class="col-6 text-center">
                              <div class="text-muted">Total Storage</div>
                              <h2 class="text-success mt-1 "><span id="storaget"> <i class="mt-3 fa fa-spinner fa-spin"></i> </span></h2>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-4">
              <div class="ibox">
                  <div class="ibox-head">
                      <div class="ibox-title">Realtime Stats</div>
                      
                  </div>
                  <div class="ibox-body">
                      <div class="h2 m-0 "><span id="cpuusage">0</span><sup>%</sup><i class="ti-stats-up float-right text-success font-40"></i></div>
                      <div class="text-muted m-t-5">CPU Usage</div>
                      <div class="my-4">
                          <div class="h4 m-0 "><span id="ram">0</span> GB of <span id="ramt">0</span> GB</div>
                          <div class="flexbox mt-2"><small>RAM Usage</small>
                              <span class="text-success font-12" style="font-size: 12px;">
                          </div>
                          <div  class="progress mt-3">
                                <div class="progress-bar pram" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" ></div>
                          </div>
                      </div>
                     
                  </div>
              </div>

              <div class="ibox">
                <div class="ibox-head">
                    <div class="ibox-title">Network / CPUs <small id="hostname"></small></div>
                    
                </div>
                <div class="row mt-3 mb-3">
                        <div class="col-6 text-center" style="border-right: 1px solid rgba(0,0,0,.1);">
                            <div class="text-muted">Uptime</div>
                            <h2 class="text-success mt-1 uptime"><i class="mt-3 fa fa-spinner fa-spin"></i></h2>
                        </div>
                        <div class="col-6 text-center" >
                            <div class="text-muted">CPU Count</div>
                            <h2 class="text-success mt-1 cpu"><i class="mt-3 fa fa-spinner fa-spin"></i></h2>
                        
                        </div>

                        
                        
                    </div>
                    <div class="row mt-3 mb-3">
                            <div class="col-6 text-center" style="border-right: 1px solid rgba(0,0,0,.1);">
                                <div class="text-muted">Network Up</div>
                                <h2 class="text-success mt-3 netup mb-3"><i class="mt-3 fa fa-spinner fa-spin"></i></h2>
                            </div>
                            <div class="col-6 text-center" >
                                <div class="text-muted">Network Down</div>
                                <h2 class="text-success mt-3 netdown mb-3"><i class="mt-3 fa fa-spinner fa-spin"></i></h2>
                            
                            </div>
    
                            
                            
                        </div>
            </div>
          </div>
      </div>

      
      <div class="row">
          <div class="col-lg-6">
              <div class="ibox ibox-fullheight">
                  <div class="ibox-head">
                      <div class="ibox-title">Server Output Timeline</div>
                  
                  </div>
                  <div class="ibox-body">
                     <ul class="timeline scroller" data-height="400px" >

                          {% for out in server_output %}
                          <li class="timeline-item"><i class="fa fa-check timeline-icon"></i> <a href="/wpanel/{{server.id}}/output/{{out.id}}">{{out.command}} </a> <small class="float-right text-muted ml-2 nowrap">{{out.date}}</small></li>
                          {% endfor %}
                        
                        </ul>
                  </div>
              </div>
          </div>
          <div class="col-lg-6">
                <div class="ibox ibox-fullheight">
                    <div class="ibox-head">
                        <div class="ibox-title">Services</div>
                        <div class="ibox-tools">
                            <a class="dropdown-toggle" data-toggle="dropdown"><i class="ti-more-alt"></i></a>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a class="dropdown-item"> <i class="ti-pencil"></i>Create</a>
                                <a class="dropdown-item"> <i class="ti-pencil-alt"></i>Edit</a>
                                <a class="dropdown-item"> <i class="ti-close"></i>Remove</a>
                            </div>
                        </div>
                    </div>
                    <table  style="margin-bottom: 0rem;" class="table">
                    
                            <tbody>
                                <tbody>
                                  {% for inst_pkg in inst_pkg %}
                                    <tr>
                                    <td>{{inst_pkg.PackageName}}</td>
                                    {% if inst_pkg.PackageStatus == "RUNNING" %}
                                    <td class=" text-success"><i class="fa fa-check"></i> </td>
                                    <td><button  onclick="stop({{inst_pkg.id}})" class="btn btn-danger btn-sm">STOP </button> <button  onclick="restart({{inst_pkg.id}})" class="btn btn-warning btn-sm"><i class="fa fa-refresh"></i> </button></td>
                                   
                                    {% endif %}
        
                                    {% if inst_pkg.PackageStatus == "STOP" %}
                                    <td class=" text-danger"><i class="fa fa-stop" style="font-size:24px"></i> </td>
                                    <td> <button onclick="restart({{inst_pkg.id}})" class="btn btn-warning btn-sm"><i class="fa fa-refresh"></i> </button></td>
                                   
                                    {% endif %}
                                    </tr>
                                  {% endfor %}
                                   
                                  </tbody>
                            </tbody>
                          </table>
                </div>
            </div>
      </div>
      
  </div>
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-1.12.2.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="https://getbootstrap.com/docs/4.0/assets/js/vendor/popper.min.js"></script>
    <script src="https://getbootstrap.com/docs/4.0/dist/js/bootstrap.min.js"></script>
    <script src="https://omnipotent.net/jquery.sparkline/2.1.2/jquery.sparkline.js"></script>
    <script src="https://www.jqueryscript.net/demo/Highly-Customizable-jQuery-Toast-Message-Plugin-Toastr/toastr.js"></script>

    <script src="https://admincast.com/adminca/preview/admin_8/html/assets/vendors/Flot/jquery.flot.js"></script>
    <script src="https://admincast.com/adminca/preview/admin_8/html/assets/vendors/Flot/jquery.flot.resize.js"></script>
    <script src="https://admincast.com/adminca/preview/admin_8/html/assets/vendors/Flot/jquery.flot.pie.js"></script>
    <script src="https://admincast.com/adminca/preview/admin_8/html/assets/vendors/Flot/jquery.flot.time.js"></script>
    <script src="https://admincast.com/adminca/preview/admin_8/html/assets/vendors/flot.tooltip/js/jquery.flot.tooltip.min.js"></script>
    <script src="https://admincast.com/adminca/preview/admin_8/html/assets/vendors/Flot/jquery.flot.categories.js"></script>
    <script src="https://admincast.com/adminca/preview/admin_8/html/assets/vendors/Flot/jquery.flot.stack.js"></script>
    <script src="https://admincast.com/adminca/preview/admin_8/html/assets/vendors/Flot/jquery.flot.selection.js"></script>
    <script src="https://admincast.com/adminca/preview/admin_8/html/assets/vendors/flot-orderBars/js/jquery.flot.orderBars.js"></script>

    <script>

          var cpu_data = [];

            var stats = new WebSocket('ws://' + window.location.host + '/stats/{{server.id}}/');
    
            stats.onopen = e => {
              console.log('Open ', e);
             }

             stats.onmessage = e => {
                console.log('message ', e['data']);
                var json = JSON.parse(e['data']);
                $('#hostname').html(json['data']['hostname']);
                $('.uptime').html(json['data']['uptime']);
                $('.cpu').html(json['data']['cpu_count']);
                $('.netup').html(json['data']['network_up'] + " B/s");
                $('.netdown').html(json['data']['network_down'] + " B/s");
                $('#cpuusage').html(json['data']['cpu_usage']);
                $('#ram').html(parseFloat(json['data']['memory_used']).toFixed(2));
                $('#ramt').html(parseFloat(json['data']['memory_total']).toFixed(2));
                $('#storage').html(json['data']['storage_used'] / 1024 * 1024 * 1024 + " GB");
                $('#storaget').html(json['data']['storage_total'] / 1024 * 1024 * 1024 + " GB");
                $('.pram').css("width", json['data']['memory_used_percent'] + "%");
                $('.pram').html(json['data']['memory_used_percent'] + "%");
                cpu_data = json['cpu_data'];
               // console.log(cpu_data);
               update();

             }


        var socket = new WebSocket('ws://' + window.location.host + '/real-time-notification/{{user.id}}/');
    
        socket.onopen = e => {
          console.log('Open ', e);
         }
  
         socket.onmessage = e => {
          var js = e['data'];
          var json = JSON.parse(js);
          console.log(json)
          
          if (json['msg_type'] == "toast"){
            if (json['css_a'] =="success"){
              toastr.success(json['content'], json['title'],{
                "closeButton": true,
                "debug": false,
                "newestOnTop": false,
                "progressBar": true,
                "positionClass": "toast-bottom-right",
                "preventDuplicates": true,
                "onclick": null,
                "showDuration": "300",
                "hideDuration": "1000",
                "timeOut": "5000",
                "extendedTimeOut": "1000",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut"
              });
            }
            if (json['css_a'] =="error"){
              toastr.error(json['content'], json['title'],{
                "closeButton": true,
                "debug": false,
                "newestOnTop": false,
                "progressBar": true,
                "positionClass": "toast-bottom-right",
                "preventDuplicates": true,
                "onclick": null,
                "showDuration": "300",
                "hideDuration": "1000",
                "timeOut": "5000",
                "extendedTimeOut": "1000",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut"
              });
            }
          }
      }
  
      socket.onerror = e => {
          console.log('Error ', e);
      }
  
      socket.onoclose = e => {
          console.log('Close ', e);
      }

      
var maxHeight = 400;

$(function(){

    $(".dropdown > li").hover(function() {
    
         var $container = $(this),
             $list = $container.find("ul"),
             $anchor = $container.find("a"),
             height = $list.height() * 1.1,       // make sure there is enough room at the bottom
             multiplier = height / maxHeight;     // needs to move faster if list is taller
        
        // need to save height here so it can revert on mouseout            
        $container.data("origHeight", $container.height());
        
        // so it can retain it's rollover color all the while the dropdown is open
        $anchor.addClass("hover");
        
        // make sure dropdown appears directly below parent list item    
        $list
            .show()
            .css({
                paddingTop: $container.data("origHeight")
            });
        
        // don't do any animation if list shorter than max
        if (multiplier > 1) {
            $container
                .css({
                    height: maxHeight,
                    overflow: "hidden"
                })
                .mousemove(function(e) {
                    var offset = $container.offset();
                    var relativeY = ((e.pageY - offset.top) * multiplier) - ($container.data("origHeight") * multiplier);
                    if (relativeY > $container.data("origHeight")) {
                        $list.css("top", -relativeY + $container.data("origHeight"));
                    };
                });
        }
        
    }, function() {
    
        var $el = $(this);
        
        // put things back to normal
        $el
            .height($(this).data("origHeight"))
            .find("ul")
            .css({ top: 0 })
            .hide()
            .end()
            .find("a")
            .removeClass("hover");
    
    });  
    
});






      </script>


      <script>
          
    var data = {{cpu}},
    totalPoints = 50;

// Set up the control widget

var updateInterval = 300;

var plot = $.plot("#flot_live_chart", [ data ], {
    series: {
        shadowSize: 0	// Drawing is faster without shadows
    },
    grid: {
        color: "#999999",
        tickColor: "#DADDE0",
        borderWidth:0,
    },
    yaxis: {
        min: 0,
        max: 100
    },
    xaxis: {
        show: false
    }
});

function update() {
    plot.setData([cpu_data]);

    // Since the axes don't change, we don't need to call plot.setupGrid()

    plot.draw();
    //setTimeout(update, updateInterval);
}



// Add the Flot version string to the footer

$("#footer").prepend("Flot " + $.plot.version + " &ndash; ");


function stop(id){

    $.ajax({url: "/wpanel/{{server.id}}/package/" + id + "/stop", success: function(result){
      if(result.status == "ok"){
        toastr.success("Package will be STOPPED soon.", "Request Sent",{
          "closeButton": true,
          "debug": false,
          "newestOnTop": false,
          "progressBar": true,
          "positionClass": "toast-bottom-right",
          "preventDuplicates": true,
          "onclick": null,
          "showDuration": "300",
          "hideDuration": "1000",
          "timeOut": "5000",
          "extendedTimeOut": "1000",
          "showEasing": "swing",
          "hideEasing": "linear",
          "showMethod": "fadeIn",
          "hideMethod": "fadeOut"
        });
      }else{
        toastr.error("Unable to request restart", "Error Occured",{
          "closeButton": true,
          "debug": false,
          "newestOnTop": false,
          "progressBar": true,
          "positionClass": "toast-bottom-right",
          "preventDuplicates": true,
          "onclick": null,
          "showDuration": "300",
          "hideDuration": "1000",
          "timeOut": "5000",
          "extendedTimeOut": "1000",
          "showEasing": "swing",
          "hideEasing": "linear",
          "showMethod": "fadeIn",
          "hideMethod": "fadeOut"
        });
      }
    }});
  
  }


function restart(id){

$.ajax({url: "/wpanel/{{server.id}}/package/" + id + "/restart", success: function(result){
if(result.status == "ok"){
toastr.success("Package will be RESTARTED soon.", "Request Sent",{
  "closeButton": true,
  "debug": false,
  "newestOnTop": false,
  "progressBar": true,
  "positionClass": "toast-bottom-right",
  "preventDuplicates": true,
  "onclick": null,
  "showDuration": "300",
  "hideDuration": "1000",
  "timeOut": "5000",
  "extendedTimeOut": "1000",
  "showEasing": "swing",
  "hideEasing": "linear",
  "showMethod": "fadeIn",
  "hideMethod": "fadeOut"
});
}else{
toastr.error("Unable to request restart", "Error Occured",{
  "closeButton": true,
  "debug": false,
  "newestOnTop": false,
  "progressBar": true,
  "positionClass": "toast-bottom-right",
  "preventDuplicates": true,
  "onclick": null,
  "showDuration": "300",
  "hideDuration": "1000",
  "timeOut": "5000",
  "extendedTimeOut": "1000",
  "showEasing": "swing",
  "hideEasing": "linear",
  "showMethod": "fadeIn",
  "hideMethod": "fadeOut"
});
}
}});

}


      </script>
  </body>
</html>
