<form action="" method="POST">
    {% csrf_token %}
    First name:<br>
    <input type="text" name="first_name" value="Mickey">
    <br>
    Last name:<br>
    <input type="text" name="last_name" value="Mouse">
    <br><br>
    Email:<br>
    <input type="text" name="email" value="Mouse">
    <br><br>
    phone_no:<br>
    <input type="text" name="phone_no" value="Mouse">
    <br><br>
    password:<br>
    <input type="text" name="password" value="Mouse">
    <br><br>
    confirm:<br>
    <input type="text" name="confirm" value="Mouse">
    <br><br>
    
    <input type="submit" value="Submit">
  </form> 