{% load static %}
<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>serverlized</title>
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/fontawesome-all.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/iofrm-style.css">
    <link rel="stylesheet" type="text/css" href="/static/css/iofrm-theme13.css">
</head>
<body>
    <div class="form-body">
        <div class="website-logo">
            <a href="#">
                <div class="logo">
                    
                </div>
            </a>
        </div>
        <div class="row">
            <div class="img-holder">
                <div class="bg"></div>
                <div class="info-holder">
                    <h1 style="color: aliceblue; font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">Serverlized</h1>
                    <h3>Get more things done with Serverlized platform.</h3>
                    <p>Serverlized is a Platform as a Service and it is free of cost (limited features)..<br><br>
                        It provides an easy and user friendly graphical interface through which a person can manage an unmanaged server.. .</p>
                </div>
            </div>
            <div class="form-holder">
                <div class="form-content">
                    <div class="form-items">
                        <div class="page-links">
                            <a href="login.html">Login</a><a href="signup.html" class="active">Register</a>
                        </div>
                        <form action="" method="POST">
                            {% csrf_token %}
                            <input class="form-control" type="text" name="first_name" placeholder="First Name" required>
                             <input class="form-control" type="text" name="last_name" placeholder="Last Name" required>
                            <input class="form-control" type="text" name="email" placeholder="E-mail Address" required>
                             <input class="form-control" type="text" name="phone_no" placeholder="Mobile" required>
                            <input class="form-control" type="text" name="password" placeholder="Password" required>
                            <div class="form-button">
                            <input class="form-control" type="text" name="confirm" placeholder="Confirm Password" required>
                            <div class="form-button">
                                <button id="submit" type="submit" value="submit" class="ibtn">Register</button>
                            </div>
                        </form>
                        <div class="other-links">
                            <span>Or register with</span><a href="#"><i class="fab fa-facebook-f"></i></a><a href="#"><i class="fab fa-google"></i></a><a href="#"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/popper.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/main.js"></script>
</body>

</html>